/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    min-height: 100vh;
    font-family: $font;
  }
    
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

  button {
    padding: 8px 30px;
    background-color: $primary;
    border: transparent;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px 0;

    &:hover {
        box-shadow: 1px 0 10px $white;
    }
}