.main-comics-top {
    min-height: 100px;
    background-color: $light-black;
    color: white;
    padding-bottom: 20px;

    h2 {
        display: inline-block;
        background-color: $primary;
        padding: 5px 10px;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        bottom: 18px;
    }

    .comics-card-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .comics-series-card {
            flex-basis: calc(100% / 6);
            padding: 12px;
            position: relative;
            transition: box-shadow 1s;
            cursor: pointer;
        
            &:hover {
                box-shadow: inset 1px 0 10px $white;
            }
        
            img {
                display: block;
                height: 140px;
                width: 100%;
            }
        
            h6 {
                text-transform: uppercase;
                padding-top: 10px;
            }

            .a-button, .button-edit {
                padding: 6px 31px;
                font-size: 14px;
                margin: 0;
                font-weight: bold;
            }

            .a-button-delete {
                background-color: $red;
                padding: 6px 18px;
                font-size: 14px;
                margin: 0;
            }
        }
    }

    .comics-button {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 15px;
    }
}

.main-comics-bottom {
    min-height: 120px;
    background-color: $primary;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: calc(100% / 5);

        img {
            width: 50px;
            padding-right: 15px;
        }

        span {
            color: $white;
            font-size: 13px;

            &:hover {
                text-shadow: 1px 0 10px $white;
            }
        }
    }
}
