  /* Utils */
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }

  .display-flex {
    display: flex;
  }

  .alert-input {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
  }

  .alert-danger {
    background-color: $pink;
    color: $red;
  }

  .alert-success {
    background-color: $light-green;
    color: $green-bootstrap;
  }

  .alert-info {
    background-color: $light-blue-bootstrap;
    color: $blue-bootstrap;
  }

  .button-edit {
    background-color: $yellow;
    margin-right: 10px;
    padding: 8px 40px;
    color: $light-black;
    width: 100%;
}

.ms-3 {
 margin-left: 20px; 
}

.mr-3 {
  margin-right: 20px;
}