$dark-grey : #303030;
$light-grey: #7C7C6C;
$light-light-grey: #D8D8D8;
$white-grey: #F6F6F6;
$primary: #0282F9;
$light-primary: #00A9D9;
$blue: #003F5E;
$green: #55BA59;
$light-green: #A6F695;
$white: #FFFFFF;
$light-black: #1C1C1C;
$font: 'Open Sans', sans-serif;